
.add-task{
    /* display: flex; */
    /*width: 50%;*/
    margin: 20px;
    height: 120px;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}
.new-task{
    display: flex;
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}
.icons{
    color: gray;

}
.input-task{
    border: none;
    background: transparent;
    outline: none;
}
.input-task:active{
    border: none;
}

.cost-list{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    width: 100%;
    padding-top: 80px;
}
@media screen and (max-width: 578px) {
    .cost-list{

    }
}