
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #78a3eb;
    background: -moz-linear-gradient(45deg,  #78a3eb 0%, #fbc2eb 58%, #fbc2eb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #78a3eb 0%,#fbc2eb 58%,#fbc2eb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #78a3eb 0%,#fbc2eb 58%,#fbc2eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78a3eb', endColorstr='#fbc2eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   
}




.cards{
    position: fixed;
    top: 200px;
    left: 15px;
    font-weight: 700;
    font-size: 36px;
    color: rgb(70, 70, 70);
}

.card-list{
    /* margin-top: 80px; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.container-card{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, auto)); 
        width: 70%;
        align-items: center;
        margin-top: 5rem;
        cursor: pointer;
        border-radius: 15px;
        display: flex;
        justify-content: start;
}

.toggle{
    cursor: pointer;
}