.calendars::-webkit-scrollbar {
    display: none;
}

.calendars {
    background: #78a3eb;
    background: -moz-linear-gradient(45deg, #78a3eb 0%, #fbc2eb 58%, #fbc2eb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #78a3eb 0%, #fbc2eb 58%, #fbc2eb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #78a3eb 0%, #fbc2eb 58%, #fbc2eb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#78a3eb',
            endColorstr='#fbc2eb',
            GradientType=1
    );
    /* IE6-9 fallback on horizontal gradient */
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.c-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px;
}

.App {
    max-width: 700px;
    max-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}

.fil-tasks {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fil-tasks > div {
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fil-tasks h2 {
    margin: 0;
}

.prority_1 {
    border-left: #00ff29 10px solid;
}
.prority_2 {
    border-left: yellow 10px solid;
}
.prority_3 {
    border-left: red 10px solid;
}

.calendars .rdrCalendar {
    max-width: 100%;
}

.rdrDateRangeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rdrDateRangeWrapper{
    max-width: 600px;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
}
.rdrDateRangePickerWrappere{
    display: block;
}





.rdrDefinedRangesWrapper {
    /* display: none; */
}
.rdrDefinedRangesWrapper {
    font-size: 12px;
    width: 333px;
    border-right: solid 1px #eff2f7;
    background: #fff;
}
.rdrStaticRanges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: 30px;
    max-width: 333px;
}
.rdrInputRanges {
    padding: 10px 0;
    display: none;
}
.rdrDateRangeWrapper .rdrDateDisplayWrapper input {
    padding: 5px;
}
.rdrDateRangeWrapper .rdrDateDisplayWrapper .rdrDateDisplayItem {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 1050px) {
    .c-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .App {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .fil-tasks {
        margin-top: 40px;
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .rdrDateRangePickerWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .rdrDefinedRangesWrapper{
        width: 332px;
    }
    .c-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .App {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .fil-tasks {
        margin-top: 40px;
    }
}